@charset "UTF-8";

body{
  background-color: #18161a;
}

div {
  box-sizing: border-box;
}

p, h1, h2, button{
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1, h2 {
  text-align: center;
  color: white;
}

h2{
  border: 3px  solid #064635;
  margin: 10px;
  border-radius: 5px;
  background-color: black;
  padding: 10px;
}

button{
  transition-duration: 0.4s;
  background-color: #064635;
  border: none;
  border-radius: 3px;
  color: white;
  float: right;
  font-size: 15px;
  text-align: center;
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}



button:hover{
  background-color: black;
  border: 2px solid #064635;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.board {
  width: 84vmin;
  margin: auto;
  margin-bottom: 2rem;
  outline: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.board .field {
  border: 1px solid black;
  width: 12vmin;
  height: 12vmin;
  box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.5);
}

.board .field .piece {
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  margin: 1vmin;
  box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.5);
}
.board .field .blue {
  background-color: blue;
}
.board .field .red {
  background-color: red;
}

@keyframes drop{
  from {
    transform: translateY(-90vw)
  }
  to{
    transform: translateY(0px)
  }
}
