@charset "UTF-8";

div {
   box-sizing: border-box;
}

.board {
  width: 84vmin;
  margin: auto;
  outline: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.inactive {
  background-color: #eee;
}

.board .field {
  border: 1px solid black;
  width: 12vmin;
  height: 12vmin;
}

.board .field .piece {
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  margin: 1vmin;
}
.board .field .blue {
  background-color: blue;
}
.board .field .red {
  background-color: red;
}

.controls {
  text-align: center;
}
.controls button {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.message {
  text-align: center;
  margin-top: 2em;
}
